body {
    background-color: #6eb07a;
    --color-primary-dark: #007f3d;
    --color-primary: #3b871a;
    --color-secondary: #9bb4a0;
    --color-success: #083411;
    --border-radius: 4px;
}

.main-content{
flex-basis: 30%;
display: inline-block;
align-items: right;
justify-content: center;
width: 100%;
max-width: 100%;
background: #9bb4a0;
padding: 10px 10% ;
box-shadow: 0 0 20px #083411;
border-color: 0 0 50px #007f3d;
margin-inline-start: 20px;

}

.options{
width: 300px;
height: 250px;
background: #9bb4a0;
border-radius: 8px;
columns: #626262;
flex-basis: 30%;
box-shadow: 0 0 5px #083411;
border-color: 50 50 50px #007f3d;
border: 5px solid #007f3d;
margin-inline-start: 20px;
margin-top: 30px;
margin-left: 30px;
margin-bottom: 20px;
position: sticky;
}

.page{
width: 900px;
background: #9bb4a0;
border-radius: 8px;
columns: #626262;
flex-basis: 30%;
box-shadow: 0 0 5px #083411;
border-color: 50 50 50px #007f3d;
border: 5px solid #007f3d;
/*margin-inline-start: 20px;*/
margin-top: -400px;
margin-left: 360px;
margin-bottom: 20px;
padding: 5px;
}

.lfsearch{
    border-color: white;
    width: 50px;
    display: inline-table;
    background-color: #9bb4a0;
   /* margin-right: 5px;
    margin-left: 50px; */
/*    margin-top: 30px;  */
    
}

.search{
    border-color: #9bb4a0;
    width: 200px;
    height: 30px;
    display: inline-table;
    background-color: white;
}

/*.searchbox{
	border-color: #9bb4a0;
    width: 600px;
    height: 50px;
    border-radius: 8px;
	columns: #626262;
	flex-basis: 30%;
	display: inline-block;
	box-shadow: 0 0 5px #083411;
	border-color: 10 10 50px #007f3d;
	margin-inline-start: 20px;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 20px;
}*/

.saerchbox{
width: 400px;
height: 100px;
background: #9bb4a0;
border-radius: 8px;
columns: #626262;
flex-basis: 30%;
/*display: inline-block;*/
box-shadow: 0 0 5px #083411;
border-color: 50 50 50px #007f3d;
border: 50px;
margin-inline-start: 20px;
margin-top: 50px;
margin-left: 50px;
margin-bottom: 20px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 9999;
}

.back-to-top img {
  width: 40px;
  height: 40px;
}

.post{
    background-color: #007f3d;
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 1070px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
}

.option-list{
  margin-left: 20px;
  margin-top: 30px;

}

.logout{
    background-color: #007f3d;
    margin-top: 10px;
    margin-left: 730px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    margin-bottom: -100px;
}

.icon{
  margin-left: 400px;
  margin-top: 20px;
  margin-bottom: -150px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border-color: whitesmoke;
  box-shadow: 5px;
  display: flex;
}

.main-content{
  width: 645px;
  box-shadow: 0px ;
  flex-basis: 30%;
  align-items: right;
  background: #9bb4a0;
  padding: 10px 10% ;
  box-shadow: 0 0 5px #083411;
  border-color: 0 0 50px #007f3d;
  margin-inline-start: 20px;
  margin-top: 60px;
  border-radius: 10px;
  margin-left: 38px;
}

.current-user{
  border-radius: 10%;
  width: 50px;
  height: 50px;
  margin-top: -8px;
  margin-left: 15px;
}
.nav{
  border-radius: 10%;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  display: flex;
}
.nav-list{
  margin-top: -30px;
  margin-left: 95px;
}
/* Show the button when scrolling */
body.scrollTop-show .back-to-top,
html.scrollTop-show .back-to-top {
  display: block;
}
.image-upload-container input[type="file"] {
	display: none;
	}